body {
    background-color: grey;
    text-align: center;
}

.title{
    background-color: whitesmoke;
    margin: 0 0 5%;
    padding: 2%;
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
}

.form {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.form-item {
    margin: 1%;
}


.submit {
    margin: 0 10%;
}

.mad-output {
    margin: 2%;
    padding: 5%;
}

.footer {
    margin-top: auto;
}