body {
    background-color: grey;
    text-align: center;
}

.title{
    background-color: whitesmoke;
    margin: 0 0 10%;
    padding: 5%;
}

.main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.form-item {
    margin: 1%;
}


.submit {
    margin: 0 30%;
}

.mad-output {
    margin: 5%;
    padding: 20% 20%;
    background-color:white;
    border-radius: 10%;
}

.footer {
    margin-top: 80%;
}