body {
    background: url('img/tinymap.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/* top portion, header of page*/
.title{
    background-color: whitesmoke;
    margin: 0 0 5%;
    padding: 2%;
}

/* main content area which is a giant flex box wrapping all content*/
.main-content {
     display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
}

/* form uses bootstrap, form-control and form-group to give it a sleek look, also a flex box */
.form {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.form-item {
    margin: 1%;
}


.submit {
    margin: 0 10%;
}

.mad-output {
    margin: 2%;
    padding: 10% 10%;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px .5px black;
}

.footer {
    margin: 20% 0% 0% 0%;
}